.container {
    height: 30rem;
}

.main-container {
    height: 100%;
}

.sub-container {
    height: 100%;
    width: 100%;
    border: 1px solid #000000; /* Viền đen 1px */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Đổ bóng nhẹ */
    margin: 10px;
}

